$margin: 176;
$percent-gap: ($margin / 1920 * 100) * 2;

/* Coolors Exported Palette - coolors.co/ef626c-22181c-312f2f-84dccf-fefffe */

/* HSL */
$color1: hsla(356%, 82%, 66%, 1);
$color2: hsla(336%, 17%, 11%, 1);
$color3: hsla(0%, 2%, 19%, 1);
$color4: hsla(171%, 56%, 69%, 1);
$color5: hsla(120%, 100%, 100%, 1);

/* RGB */
$color1: rgba(239, 98, 108, 1);
$color2: rgba(34, 24, 28, 1);
$color3: rgba(49, 47, 47, 1);
$color4: rgba(132, 220, 207, 1);
$color5: rgba(254, 255, 254, 1);
